<div class="container">
    <h1>My Activity </h1>

<p>
    <strong>Activity:</strong>
    <%= @activity.activity_name %>
</p>

<p>
    <strong>Date:</strong>
    <%= @activity.date %>
</p>

<p>
    <strong>Duration:</strong>
    <%= @activity.duration %>
</div>

</p>

<p><%= link_to 'Destroy', activity_path(@activity),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Back', activities_path %></p>