<div class="pt-5 h-100"> 
    <%# <div class="center">
        <h1>My Activity</h1>
    </div> %>
    <div class="d-md-flex justify-content-center px-3">
    
    
    <div>
        <div class="w-30">
              
                <div class="center mb-3">
                    <%= image_tag(@activity.activity_name + '.svg', :class => 'w-25' )  %>
                </div>
                <div class="d-flex">
                    <strong>ACTIVITY :</strong>
                    <p class="ml-2"><%= @activity.activity_name %></p>
                </div>

                <div class="d-flex">
                    <strong>DATE :</strong>
                    <p class="ml-2"><%= @activity.date %></p>
                </div>

                <div class="d-flex">
                    <strong>DURATION :</strong>
                    <p class="ml-2"><%= @activity.date %></p>
                </div>

            </div>
    <div>
   
    
    <div class="d-flex">
        <%# change delete to an icon %>
        <p><%= link_to 'Delete', activity_path(@activity),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></p>

        <p class="ml-3"><%= link_to 'Back', activities_path %></p>

    </div>


    </div>
    

        
</div>



