<!DOCTYPE html>
<html>
  <head>
    <title>MoveAndGroove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-color">
    <div class="px-3 text-white">
      <div class="navbar"> 
      <h1 class="inline"><%= link_to 'Move and Groove', welcome_index_path %></h1>
      <div class="items">
      <% if user_signed_in? %>
        <p class="d-inline"><%= current_user.email %></p>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link hover-border-b' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link hover-border-b'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link hover-border-b'  %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link hover-border-b'  %>
      <% end %>

      </div>
      </div>
       <%= yield %>
    </div>
  </body>
</html>
